{% extends 'base.html' %}

{% block content %}



<div id="app">
  <div>
    <div style="margin-left: 40%;">
      <h3>Query weather?</h3>
      <br>
      <Dropdown 
        :options="options"
        v-on:selected="validateSelection"
        :disabled="false"
        placeholder="Please select an animal">
      </Dropdown>
      <p>[[ title ]]</p>
    </div>
  </div>

  

<br>

<div v-if="title!='' && title!='bad' ">
  <table class="table table-bordered table-hover" style="text-align: center;">
    <thead class="thead-dark">
      <tr>
        <th>Country</th>
        <th>Region</th>
        <th>City</th>
        <th>Now localtime</th>
        <th>Condition</th>
      </tr>
      <tbody>
        <tr>
          <td>[[location.country]]</td>
          <td>[[location.region]]</td>
          <td>[[location.name]]</td>
          <td> [[ day[current.is_day] ]] &nbsp;  [[location.localtime]] </td>
          <td>[[current.condition.text]] &nbsp; <br> <img :src="[[ current.condition.icon ]]" alt="" srcset="" style="width: 150px; height: 150px;"></td>
        </tr>
      </tbody>
    </thead>
  </table>
  
  <br>
  <br>
  
  <h4>Current time </h4> <code>(updated [[current.last_updated]])</code>
  <table class="table table-bordered table-hover" style="text-align: center;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Temperature</th>
        <th scope="col">Wind</th>
        <th scope="col">Wind degree & direction</th>
        <th scope="col">Pressure</th>
        <th scope="col">Humidity</th>
        <th scope="col">Cloud</th>
        <th scope="col">UV</th>
        <th scope="col">Air quality</th>
      </tr>
      <tbody>
        <tr>
          <td scope="col">[[current.temp_c]]°C <br> [[current.temp_f]]°F </td>
          <td scope="col">[[current.wind_mph]][mph] <br> [[current.wind_kph]][kph]</td>
          <td scope="col">[[current.wind_degree]] <br> [[current.wind_dir]] </td>
          <td scope="col">[[current.pressure_mb]][mb] <br> [[current.pressure_in]][in] </td>
          <td scope="col">[[current.humidity]]</td>
          <td scope="col">[[current.cloud]]</td>
          <td scope="col">[[current.uv]]</td>
          <td scope="col">
            &nbsp; co: [[ current.air_quality.co]] <br>
            &nbsp; no2: [[ current.air_quality.no2]] <br>
            &nbsp; o3: [[ current.air_quality.o3]] <br>
            &nbsp; so2: [[ current.air_quality.so2]] <br>
            &nbsp; pm2_5: [[ current.air_quality.pm2_5]] <br>
            &nbsp; pm10: [[ current.air_quality.pm10]] <br>
          </td>
          
        </tr>
      </tbody>
    </thead>
  </table>
</div>



</div>

<br>
<br>
<br>

{% comment %} 
<h5>Other website pages:</h5>
<ul>
  <li><a href="{% url 'home_weatherapp' %}">Home Page</a></li>
  <li><a href="{% url 'weatherapp:main' %}">Films Main Page</a></li>
  <li><a href="{% url 'weatherapp:user_info' %}">Films User_Info Page</a></li>
</ul> {% endcomment %}



<script type="text/javascript">
  Vue.use(Dropdown);

  vector_x={{cities|safe}};
  vector_x2=[];
  var count =0 ;
  for (let i = 0; i < vector_x.length; i++) {
    vec_cities = vector_x[i].cities;
    for (let j= 0 ; j<vec_cities.length; j++){
      vector_x2.push( 
        {
          name: vec_cities[j] + ' - ' + vector_x[i].country, 
          id:count
        } 
      );
    }
    count++;
  }
  vector_x=vector_x2;

  //alert( JSON.parse( JSON.stringify( vector_xx[0] ) ) );

var app= new Vue({
      el: "#app",
      delimiters: ['[[', ']]'],
      data() {
          return {
              title: "",
              location: {},
              current: {
                condition:{},
                air_quality:{} 
              },
              day:['Monday', 'Tuesday', 'Wednesday','Thursday', 'Friday', 'Saturday', 'Sunday'],
              options: vector_x,
            
              selected: { name: null, id: null }
          };
      },
    
      methods: {
          validateSelection(selection) {
            if( typeof(selection.name) !=="undefined" ){
              this.selected = selection;
              console.log(selection.name + " has been selected");
              this.getData(selection.name)
            }
          },
        
          getDropdownValues(keyword) {
              console.log("You could refresh options by querying the API with " + keyword);
          }, 

          getData(city) {

            this.title = "Loading....";
            var vm = this;
            axios
              .get("{% url 'weatherapp:weather_api' %}", {
                params: {
                  city_backend: city,
                }
              })
              .then(function(response) {
                //vm.title = response.data.title;
                vm.location = response.data.location;
                vm.current = response.data.current;

                if (vm.location == '') {
                  vm.title="Something went wrong..."
                }else{
                  vm.title="Ok"
                }
              })
              .catch(function(error) {
                alert(error);
                vm.title='bad'
              });
          }
      }
  });
</script>
{% endblock content %}

